*.ncb
*.suo
*.user
*.log
liblo-0.26/lo/lo_endian.h
liblo-0.26/config.h
liblo-0.26/Makefile
liblo-0.26/autom4te.cache
liblo-0.26/lib
liblo-0.26/build/vs2008/obj
.deps
Release
Debug
/liblo-0.26-modified/build/vs2008/obj
/*.sdf
/liblo-0.26-modified/lib
/ipch
/*.opensdf

/.DS_Store
/file2osc
/liblo-0.26-modified/build/Makefile
/liblo-0.26-modified/config.status
/liblo-0.26-modified/doc/Makefile
/liblo-0.26-modified/examples/.libs/
/liblo-0.26-modified/examples/example_client
/liblo-0.26-modified/examples/example_client.o
/liblo-0.26-modified/examples/example_server
/liblo-0.26-modified/examples/example_server.o
/liblo-0.26-modified/examples/Makefile
/liblo-0.26-modified/examples/nonblocking_server_example
/liblo-0.26-modified/examples/nonblocking_server_example.o
/liblo-0.26-modified/liblo.pc
/liblo-0.26-modified/libtool
/liblo-0.26-modified/lo/lo_endian.h
/liblo-0.26-modified/lo/Makefile
/liblo-0.26-modified/Makefile
/liblo-0.26-modified/src/.libs/
/liblo-0.26-modified/src/liblo.la
/liblo-0.26-modified/src/liblo_la-address.lo
/liblo-0.26-modified/src/liblo_la-blob.lo
/liblo-0.26-modified/src/liblo_la-bundle.lo
/liblo-0.26-modified/src/liblo_la-message.lo
/liblo-0.26-modified/src/liblo_la-method.lo
/liblo-0.26-modified/src/liblo_la-pattern_match.lo
/liblo-0.26-modified/src/liblo_la-send.lo
/liblo-0.26-modified/src/liblo_la-server.lo
/liblo-0.26-modified/src/liblo_la-server_thread.lo
/liblo-0.26-modified/src/liblo_la-timetag.lo
/liblo-0.26-modified/src/Makefile
/liblo-0.26-modified/src/subtest
/liblo-0.26-modified/src/subtest-subtest.o
/liblo-0.26-modified/src/testlo
/liblo-0.26-modified/src/testlo-testlo.o
/liblo-0.26-modified/src/tools/.libs/
/liblo-0.26-modified/src/tools/Makefile
/liblo-0.26-modified/src/tools/oscdump
/liblo-0.26-modified/src/tools/oscdump-oscdump.o
/liblo-0.26-modified/src/tools/oscsend
/liblo-0.26-modified/src/tools/oscsend-oscsend.o
/liblo-0.26-modified/stamp-h1
/osc2file
/osc2text
/osceleton
/liblo-0.26-modified/config.h